body,  html{
    height: 100%;
}
body, h1, h2,h3,h4, h5, h6
{
    font-family: "Alumni Sans" sans-serif;
}
.navv {
    font-size: 2rem;
}

/* Custom Styles for Navbar */
.opacity-hover-off {
    background-color: rgba(0, 0, 0, 0.5);
}

.opacity-hover-off:hover{
    background-color: rgba(0, 0, 0, 1);
}

.navbar-nav .nav-link{
    color: white;
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover{
    color: black;
    background-color: white;
}